Chapter 22
# 用join() 合并，how = 'cross'
Book_1《编程不难》 | 鸢尾花书：从加减乘除到机器学习

In [1]:
import pandas as pd

In [2]:
# 创建两个数据帧
df1 = pd.DataFrame({'A': ['X', 'Y', 'Z']})
df1

   A
0  X
1  Y
2  Z

In [3]:
df2 = pd.DataFrame({'B': [1, 2]})
df2

   B
0  1
1  2

In [4]:
# 使用 'cross' 连接
df_cross = df1.join(df2, how='cross')
df_cross

   A  B
0  X  1
1  X  2
2  Y  1
3  Y  2
4  Z  1
5  Z  2