Chapter 22
# 用concat() 拼接，比较 'outer' 和 'inner'
Book_1《编程不难》 | 鸢尾花书：从加减乘除到机器学习

In [1]:
import pandas as pd
# 创建两个数据帧
df1 = pd.DataFrame({'X1': [1, 2, 3],
                    'X2': ['X', 'Y', 'Z']},
                   index=[0, 1, 2])
df1

   X1 X2
0   1  X
1   2  Y
2   3  Z

In [2]:
df2 = pd.DataFrame({'X3': ['A', 'B', 'C'],
                    'X4': [4, 5, 6]},
                   index=[1, 2, 3])
df2

  X3  X4
1  A   4
2  B   5
3  C   6

In [3]:
# 'outer' 方法拼接
df_outer = pd.concat([df1, df2], join='outer', axis=1)
df_outer

    X1   X2   X3   X4
0  1.0    X  NaN  NaN
1  2.0    Y    A  4.0
2  3.0    Z    B  5.0
3  NaN  NaN    C  6.0

In [4]:
# 'inner' 方法拼接
df_inner = pd.concat([df1, df2], join='inner', axis=1)
df_inner

   X1 X2 X3  X4
1   2  Y  A   4
2   3  Z  B   5