Chapter 19
# 从网页下载数据
Book_1《编程不难》 | 鸢尾花书：从加减乘除到机器学习

In [1]:
import pandas as pd
import requests

In [2]:
# 设置数据源的URL
url = 'https://fred.stlouisfed.org/data/SP500.txt'

In [3]:
# 发送GET请求并获取数据
response = requests.get(url)

In [4]:
# 检查是否成功获取数据
if response.status_code == 200:
    # 数据以制表符分隔
    df = pd.read_csv(url,skiprows=44, sep='\s+')
else:
    print("Failed to fetch data from the source")

In [5]:
df['DATE'] = pd.to_datetime(df['DATE'])
df.set_index('DATE', inplace=True)

In [6]:
df.head()

              VALUE
DATE
2013-10-03  1678.66
2013-10-04  1690.50
2013-10-07  1676.12
2013-10-08  1655.45
2013-10-09  1656.40