Chapter 29
# 导入Scikit-Learn中鸢尾花数据
Book_1《编程不难》 | 鸢尾花书：从加减乘除到机器学习

In [1]:
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd

In [2]:
# 导入鸢尾花数据
iris = load_iris()
# 鸢尾花数据前4个特征，NumPy数组
X = iris.data

In [3]:
print(iris.feature_names)
# 鸢尾花数据标签：0、1、2

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [4]:
y = iris.target
print(np.unique(y))

[0 1 2]

In [5]:
# 鸢尾花文字标签
print(iris.target_names)

['setosa' 'versicolor' 'virginica']

In [6]:
# 创建数据帧
X_df = pd.DataFrame(X, 
                    columns = ['X1','X2','X3','X4'])
X_df.head()

    X1   X2   X3   X4
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [7]:
X_df.tail()

      X1   X2   X3   X4
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

In [8]:
round(X_df.describe(),2)

           X1      X2      X3      X4
count  150.00  150.00  150.00  150.00
mean     5.84    3.06    3.76    1.20
std      0.83    0.44    1.77    0.76
min      4.30    2.00    1.00    0.10
25%      5.10    2.80    1.60    0.30
50%      5.80    3.00    4.35    1.30
75%      6.40    3.30    5.10    1.80
max      7.90    4.40    6.90    2.50