Chapter 21
# 用列表构造多层行标签
Book_1《编程不难》 | 鸢尾花书：从加减乘除到机器学习

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 创建列表、数据
index_arrays = [['A','A','B','B','C','C','D','D'], 
                range(1,9)]
data = np.random.randint(0,9,size=(8,4))

In [3]:
# 创建多层行索引
row_idx = pd.MultiIndex.from_arrays(index_arrays, 
                                    names=['I','II'])

In [4]:
# 创建DataFrame
df = pd.DataFrame(data, 
                  index=row_idx, 
                  columns=['X1','X2','X3','X4'])
df

      X1  X2  X3  X4
I II
A 1    1   8   2   2
  2    6   5   2   3
B 3    8   4   7   2
  4    3   7   5   8
C 5    2   2   0   1
  6    3   6   5   4
D 7    7   2   5   1
  8    8   5   2   5